

.panelOne, .panelTwo, .panelThree {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    text-align: center;
    padding: 20px; 
    justify-content: center;
}

.defaultVideo {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
}

.goToStudio {
    display: flex;
    text-align: center;
    justify-content: center; 
}

.sideMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    float: left;
    top: 10px;
    left: 5px;
    z-index: 1;
    padding: 10px;
}

@media screen and (max-height: 450px) {
    .sideMenu {padding-top: 15px;}
    .sideMenu {font-size: 18px}
}