.center {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    
}

.loginOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    align-self: center;
    margin: auto;
    padding: 50px;

}