.createNewUser{
    display: flex;
    justify-content: end;
    text-align: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30%;
    margin-bottom: 30%;
}

.buttonPositioning {
    display: flex;
    justify-content: center;
    align-items: center;
}
