.header {
    display: flex;
    text-align: center;
    padding: 20px; 
    justify-content: center;
}

.stage {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
}