h1 {
    text-align: center;
    padding-top: 170px;
    color: red;
}

.RegistrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    align-self: center;
    margin: auto;
    padding: 0px;
    
}

body {
    background-image: linear-gradient(to left, rgb(126, 122, 122), rgba(173, 135, 28, 0),  rgb(126, 122, 122));
}


.signInType {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.passwordVerify {
    border-radius: 8px;
}

.formButtonTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 26px;
    border: none;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    text-decoration-color: red;
}

.selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;


}