body {
      background-image: linear-gradient(to left, lightblue, lightpink, lightblue)
  }

.header {
  font-size: 50px;
  display: flex;
  justify-content: space-between;

}
.landingHeader {
  display: flex;
  font-size:44px; 
  text-align: center;
  margin: auto;
  margin-top: 10%;
  position: relative;
}

.introText {
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  font-size: 20px;
  color:black;
}

.loginFromLanding {
  display: flex;
  margin-top: 10%;
  
  text-align: center;
  font-size: 40px;
  margin-left: 14%;
  margin-right: 10%;
}

.linksToLogin {
  display: flex;
  flex-direction: column;
  margin-left: 17%;
  margin-top: 10%;
}

.landingButtons{
  width: 20em;  
  height: 2em;
  font-size: 30px;
}