.App_NavBar {
  margin: 10px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  right: 0;
  padding-bottom: 20%;
}

@media only screen and (max-width: 600px){
  body{
    background-color: lightskyblue;
  }
}