.createNewUser{
    display: flex;
    justify-content: end;
    text-align: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    align-self: center;
    margin: auto;
    padding: 0px;
}

.buttonPositioning {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
