




.createNewUser{
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 150%;
    align-self: center;
   /* padding: 20%;*/
    margin: auto;
   
}

.content-name{
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: black;
    font-size: 14px;
    margin: auto;
    padding-right: 50%;
    
}

.password  {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin:auto;
    margin-left: -50%   
    
}

.username {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin:auto;
    margin-left: -50%  
} 

.formButton {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20%; */
    border: none;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    margin-right: 26%;
    text-decoration-color: red;
    }
.loginHeader {
    margin: auto;
    margin-left: 12%;
    position: relative;
    text-align: center;
    display: flex;
    font-size: 18px;
  
    
}